body {
    min-height: 100vh;
    background-color: black;
  }
  body > h1,
body > p {
  color: white;
}
  .choice-list button {
    background-color: black;
    border-color: black;
    color: white;
  }
  